Repository w0lek/vtr-verilog-to-routing, changes with the labels that .github/labeler.yml gives for each.
All labels: ABC, ACE2, blifexplorer, Odin, Parmys, VPR, libarchfpga, libeasygl, liblog, libpugiutil, libvtrutil, external_libs, docs, infra, build, tests, scripts, VTR Flow, lang-hdl, lang-cpp, lang-perl, lang-python, lang-shell, lang-netlist, lang-make

.github/labeler.yml:

# See https://github.com/actions/labeler#common-examples for defining patterns.
# The globs use "minimatch" syntax found at https://github.com/isaacs/minimatch
#
# WARNING: Due to this file being yaml, any string starting with `*` must be
# wrapped in quotes.

# Tools
ABC:
- changed-files:
  - any-glob-to-any-file: abc_with_bb_support/*
  - any-glob-to-any-file: abc_with_bb_support/**/*
  - any-glob-to-any-file: abc/*
  - any-glob-to-any-file: abc/**/*
ACE2:
- changed-files:
  - any-glob-to-any-file: ace2/*
  - any-glob-to-any-file: ace2/**/*
blifexplorer:
- changed-files:
  - any-glob-to-any-file: blifexplorer/*
  - any-glob-to-any-file: blifexplorer/**/*
Odin:
- changed-files:
  - any-glob-to-any-file: odin_ii/*
  - any-glob-to-any-file: odin_ii/**/*
  - any-glob-to-any-file: odin2_helper/*
  - any-glob-to-any-file: odin2_helper/**/*
Parmys:
- changed-files:
  - any-glob-to-any-file: parmys/*
  - any-glob-to-any-file: parmys/**/*
  - any-glob-to-any-file: yosys/*
  - any-glob-to-any-file: yosys/**/*
VPR:
- changed-files:
  - any-glob-to-any-file: vpr/*
  - any-glob-to-any-file: vpr/**/*

# Libraries
libarchfpga:
- changed-files:
  - any-glob-to-any-file: libs/libarchfpga/*
  - any-glob-to-any-file: libs/libarchfpga/**/*
libeasygl:
- changed-files:
  - any-glob-to-any-file: libs/libeasygl/*
  - any-glob-to-any-file: libs/libeasygl/**/*
liblog:
- changed-files:
  - any-glob-to-any-file: libs/liblog/*
  - any-glob-to-any-file: libs/liblog/**/*
libpugiutil:
- changed-files:
  - any-glob-to-any-file: libs/libpugiutil/*
  - any-glob-to-any-file: libs/libpugiutil/**/*
libvtrutil:
- changed-files:
  - any-glob-to-any-file: libs/libvtrutil/*
  - any-glob-to-any-file: libs/libvtrutil/**/*
external_libs:
- changed-files:
  - any-glob-to-any-file: libs/EXTERNAL/*
  - any-glob-to-any-file: libs/EXTERNAL/**/*

# General areas
docs:
- changed-files:
  - any-glob-to-any-file: doc/*
  - any-glob-to-any-file: doc/**/*
  - any-glob-to-any-file: "*README*"
  - any-glob-to-any-file: "*.md"
  - any-glob-to-any-file: "*.rst"
infra:
- changed-files:
  - any-glob-to-any-file: .github/*
  - any-glob-to-any-file: .github/**/*
  - any-glob-to-any-file: Dockerfile
  - any-glob-to-any-file: "*docker*"
build:
- changed-files:
  - any-glob-to-any-file: Makefile
  - any-glob-to-any-file: "*.make"
  - any-glob-to-any-file: CMakeLists.txt
  - any-glob-to-any-file: cmake/*
  - any-glob-to-any-file: cmake/**/*
tests:
- changed-files:
  - any-glob-to-any-file: "*_test.py"
  - any-glob-to-any-file: "*test*"
  - any-glob-to-any-file: "*TESTS*"
scripts:
- changed-files:
  - any-glob-to-any-file: scripts
  - any-glob-to-any-file: "*.pl"
  - any-glob-to-any-file: "*.py"
  - any-glob-to-any-file: "*.sh"
VTR Flow:
- changed-files:
  - any-glob-to-any-file: vtr_flow

# Tag pull requests with the languages used to make it easy to see what is
# being used.
lang-hdl:
- changed-files:
  - any-glob-to-any-file: "**/*.v"
  - any-glob-to-any-file: "**/*.sv"
lang-cpp:
- changed-files:
  - any-glob-to-any-file: "**/*.c*"
  - any-glob-to-any-file: "**/*.h"
lang-perl:
- changed-files:
  - any-glob-to-any-file: "**/*.pl"
  - any-glob-to-any-file: "**/*perl*"
lang-python:
- changed-files:
  - any-glob-to-any-file: "**/*.py"
lang-shell:
- changed-files:
  - any-glob-to-any-file: "**/*.sh"
lang-netlist:
- changed-files:
  - any-glob-to-any-file: "**/*.blif"
  - any-glob-to-any-file: "**/*.eblif"
  - any-glob-to-any-file: "**/*.edif"
  - any-glob-to-any-file: "**/*.vqm"
lang-make:
- changed-files:
  - any-glob-to-any-file: "**/*.make"
  - any-glob-to-any-file: "**/*Makefile"
  - any-glob-to-any-file: "**/CMakeLists.txt"

GTK_SWITCH now is QAbstractButton, not QCheckBox. to fix some qt connections and type casting
  vpr/src/draw/ui_setup.cpp
  vpr/src/qt/vpr_qtcompat.cpp
  vpr/src/qt/vpr_qtcompat.h
Labels: VPR, lang-cpp

use QDOubleSpinBox instead of QSpinBox as more close equivalent to GTK spin box which internally uses doubles
  vpr/src/draw/ui_setup.cpp
  vpr/src/qt/vpr_qtcompat.cpp
  vpr/src/qt/vpr_qtcompat.h
Labels: VPR, lang-cpp

remove QT_MIGRATION_TODO from gtk_spin_button_set_increments as redundant
  vpr/src/qt/vpr_qtcompat.cpp
Labels: VPR, lang-cpp

QDoubleSpinBox replaced with QSPinBox
  vpr/src/draw/ui_setup.cpp
  vpr/src/qt/vpr_qtcompat.cpp
  vpr/src/qt/vpr_qtcompat.h
Labels: VPR, lang-cpp

implement ASSERT_QT_MIGRATION_TODO macro in set_draw_partitions
  vpr/src/draw/draw.cpp
  vpr/src/draw/draw_floorplanning.cpp
Labels: VPR, lang-cpp

resolve qt_migration_macro for warning_dialog_box and search_type_changed
  vpr/src/draw/search_bar.cpp
Labels: VPR, lang-cpp

customMatchingFunction is not needed for Qt
  vpr/src/draw/search_bar.cpp
  vpr/src/draw/search_bar.h
Labels: VPR, lang-cpp

resolve ASSERT_QT_MIGRATION_TODO in save_graphics.cpp
  vpr/src/draw/save_graphics.cpp
  vpr/src/qt/vpr_qtcompat.h
Labels: VPR, lang-cpp

cleanup
  vpr/src/qt/vpr_qtcompat.h
Labels: VPR, lang-cpp

implement macro in draw_manual_moves_window
  vpr/src/draw/manual_moves.cpp
  vpr/src/qt/vpr_qtcompat.h
Labels: VPR, lang-cpp

implement macro in manual_move_cost_summary_dialog
  vpr/src/draw/manual_moves.cpp
  vpr/src/qt/vpr_qtcompat.h
Labels: VPR, lang-cpp

implement qt migration macro in transparency_cbk
  vpr/src/draw/draw_toggle_functions.cpp
Labels: VPR, lang-cpp

impl qt migration macro for select_layer_cbk
  vpr/src/draw/draw_toggle_functions.cpp
Labels: VPR, lang-cpp

impl qt migration macro in draw_debug_window
  vpr/src/draw/draw_debug.cpp
  vpr/src/qt/vpr_qtcompat.cpp
  vpr/src/qt/vpr_qtcompat.h
Labels: VPR, lang-cpp

impl macro in advanced_button_callback
  vpr/src/draw/draw_debug.cpp
Labels: VPR, lang-cpp

qt impl for void refresh_bpList()
  vpr/src/draw/draw_debug.cpp
Labels: VPR, lang-cpp

qt macro impl for add_to_bpList
  vpr/src/draw/draw_debug.cpp
Labels: VPR, lang-cpp

qt impl for checkbox_callback and delete_bp_callback
  vpr/src/draw/draw_debug.cpp
Labels: VPR, lang-cpp

resolve some qt imp macroses in draw_debug.cpp
  vpr/src/draw/draw_debug.cpp
Labels: VPR, lang-cpp

qt impl for breakpoint_info_window
  vpr/src/draw/draw_debug.cpp
Labels: VPR, lang-cpp

qt macro impl in set_expression_button_callback
  vpr/src/draw/draw_debug.cpp
Labels: VPR, lang-cpp

ASSERT_QT_MIGRATION_TODO for invalid_breakpoint_entry_window
  vpr/src/draw/draw_debug.cpp
Labels: VPR, lang-cpp

gtk_window_set_position is used only with key=GTK_WIN_POS_CENTER
  vpr/src/qt/vpr_qtcompat.cpp
Labels: VPR, lang-cpp

add implementation_roadmap.md
  vpr/src/qt/implementation_roadmap.md
Labels: VPR

update reference to ezgl submodule
  vpr/src/qt/implementation_roadmap.md
Labels: VPR

update reference to ezgl submodule
  vpr/src/qt/qt_implementation_roadmap.md
Labels: VPR

remove duplicated file
  vpr/src/qt/implementation_roadmap.md
Labels: VPR

cmake: require Qt >= 6.9.3 due to RHI buffer invalidation bug in Qt 6.8
  vpr/CMakeLists.txt
Labels: VPR, lang-make

remove gtk code
  vpr/CMakeLists.txt
  vpr/src/base/vpr_api.cpp
  vpr/src/draw/buttons.cpp
  vpr/src/draw/buttons.h
  vpr/src/draw/draw.cpp
  vpr/src/draw/draw_debug.cpp
  vpr/src/draw/draw_debug.h
  vpr/src/draw/draw_floorplanning.cpp
  vpr/src/draw/draw_floorplanning.h
  vpr/src/draw/draw_toggle_functions.cpp
  vpr/src/draw/gtkcomboboxhelper.cpp
  vpr/src/draw/gtkcomboboxhelper.h
  vpr/src/draw/manual_moves.cpp
  vpr/src/draw/manual_moves.h
  vpr/src/draw/save_graphics.cpp
  vpr/src/draw/save_graphics.h
  vpr/src/draw/search_bar.cpp
  vpr/src/draw/search_bar.h
  vpr/src/draw/ui_setup.cpp
  vpr/src/qt/qt_implementation_roadmap.md
  vpr/src/qt/vpr_qtcompat.cpp
  vpr/src/qt/vpr_qtcompat.h
  vpr/src/server/gateio.cpp
  vpr/src/server/gateio.h
  vpr/src/server/serverupdate.h
  vpr/src/server/taskresolver.cpp
Labels: VPR, lang-cpp, lang-make

remove gchar, gpointer, gboolean, gint, G_APPLICATION, GObject types
  vpr/src/draw/buttons.cpp
  vpr/src/draw/draw.cpp
  vpr/src/draw/draw_toggle_functions.cpp
  vpr/src/draw/draw_toggle_functions.h
  vpr/src/draw/gtkcomboboxhelper.cpp
  vpr/src/draw/gtkcomboboxhelper.h
  vpr/src/draw/manual_moves.cpp
  vpr/src/draw/save_graphics.cpp
  vpr/src/draw/save_graphics.h
  vpr/src/draw/search_bar.cpp
  vpr/src/draw/ui_setup.cpp
  vpr/src/qt/vpr_qtcompat.cpp
  vpr/src/qt/vpr_qtcompat.h
  vpr/src/server/serverupdate.cpp
  vpr/src/server/serverupdate.h
Labels: VPR, lang-cpp

GtkWidget replaced with QWidget
  vpr/src/draw/buttons.cpp
  vpr/src/draw/buttons.h
  vpr/src/draw/draw.cpp
  vpr/src/draw/draw.h
  vpr/src/draw/draw_debug.cpp
  vpr/src/draw/draw_debug.h
  vpr/src/draw/draw_floorplanning.cpp
  vpr/src/draw/draw_floorplanning.h
  vpr/src/draw/draw_toggle_functions.cpp
  vpr/src/draw/draw_toggle_functions.h
  vpr/src/draw/manual_moves.cpp
  vpr/src/draw/manual_moves.h
  vpr/src/draw/save_graphics.cpp
  vpr/src/draw/save_graphics.h
  vpr/src/draw/search_bar.cpp
  vpr/src/draw/search_bar.h
  vpr/src/draw/ui_setup.cpp
  vpr/src/qt/vpr_qtcompat.cpp
  vpr/src/qt/vpr_qtcompat.h
Labels: VPR, lang-cpp

GtkComboBoxText and GtkComboBox replaced with QComboBox
  vpr/src/draw/draw_toggle_functions.cpp
  vpr/src/draw/draw_toggle_functions.h
  vpr/src/draw/gtkcomboboxhelper.cpp
  vpr/src/draw/save_graphics.cpp
  vpr/src/draw/search_bar.cpp
  vpr/src/draw/search_bar.h
  vpr/src/draw/ui_setup.cpp
Labels: VPR, lang-cpp

GtkDialog replaced with QDialog
  vpr/src/draw/draw.cpp
Labels: VPR, lang-cpp

replace GtkButton
  vpr/src/draw/ui_setup.cpp
Labels: VPR, lang-cpp

refactor api for getting widget type from app
  vpr/src/draw/buttons.cpp
  vpr/src/draw/draw.cpp
  vpr/src/draw/draw_toggle_functions.cpp
  vpr/src/draw/draw_toggle_functions.h
  vpr/src/draw/manual_moves.cpp
  vpr/src/draw/save_graphics.cpp
  vpr/src/draw/search_bar.cpp
  vpr/src/draw/ui_setup.cpp
  vpr/src/qt/vpr_qtcompat.h
  vpr/src/server/taskresolver.cpp
Labels: VPR, lang-cpp

polishing
  vpr/src/draw/draw.cpp
  vpr/src/draw/draw_debug.cpp
  vpr/src/draw/draw_toggle_functions.cpp
  vpr/src/draw/draw_toggle_functions.h
  vpr/src/draw/manual_moves.cpp
  vpr/src/qt/vpr_qtcompat.cpp
  vpr/src/qt/vpr_qtcompat.h
  vpr/src/server/taskresolver.cpp
Labels: VPR, lang-cpp

cleanup ezgl_compat
  vpr/src/draw/draw.cpp
  vpr/src/draw/ui_setup.cpp
  vpr/src/qt/vpr_qtcompat.h
Labels: VPR, lang-cpp

cleanup
  vpr/src/draw/draw_debug.cpp
  vpr/src/draw/manual_moves.cpp
  vpr/src/draw/save_graphics.cpp
  vpr/src/draw/ui_setup.cpp
  vpr/src/qt/vpr_qtcompat.cpp
  vpr/src/qt/vpr_qtcompat.h
Labels: VPR, lang-cpp

remove gtk_combo_box_text_get_active_text and g_free
  vpr/src/draw/draw_toggle_functions.cpp
  vpr/src/draw/search_bar.cpp
Labels: VPR, lang-cpp

remove gtk_widget_destroy and gtk_widget_queue_draw
  vpr/src/draw/draw.cpp
  vpr/src/draw/draw_debug.cpp
  vpr/src/draw/manual_moves.cpp
Labels: VPR, lang-cpp
