Repository w0lek/vtr-verilog-to-routing, changes with the labels that .github/labeler.yml gives for each.
All labels: ABC, ACE2, blifexplorer, Odin, Parmys, VPR, libarchfpga, libeasygl, liblog, libpugiutil, libvtrutil, external_libs, docs, infra, build, tests, scripts, VTR Flow, lang-hdl, lang-cpp, lang-perl, lang-python, lang-shell, lang-netlist, lang-make

remove gtk_container_add
  vpr/src/draw/draw_debug.cpp
  vpr/src/draw/manual_moves.cpp
  vpr/src/draw/save_graphics.cpp
  vpr/src/qt/vpr_qtcompat.cpp
  vpr/src/qt/vpr_qtcompat.h
Labels: VPR, lang-cpp

remove gtk_grid_get_child_at, gtk_grid_attach
  vpr/src/draw/draw_debug.cpp
  vpr/src/draw/manual_moves.cpp
  vpr/src/qt/vpr_qtcompat.cpp
  vpr/src/qt/vpr_qtcompat.h
Labels: VPR, lang-cpp

checkpoint
  vpr/src/qt/vpr_qtcompat.h
Labels: VPR, lang-cpp

remove GTK_COMBO_BOX_TEXT, GTK_GRID, GTK_BOX
  vpr/src/qt/vpr_qtcompat.h
Labels: VPR, lang-cpp

remove gtk_box_pack_start
  vpr/src/draw/ui_setup.cpp
  vpr/src/qt/vpr_qtcompat.cpp
  vpr/src/qt/vpr_qtcompat.h
Labels: VPR, lang-cpp

remove gtk_dialog_get_content_area
  vpr/src/draw/manual_moves.cpp
  vpr/src/draw/save_graphics.cpp
  vpr/src/qt/vpr_qtcompat.cpp
  vpr/src/qt/vpr_qtcompat.h
Labels: VPR, lang-cpp

replace gtk_dialog_new_with_buttons and ezgl::dialog_get_content_area with direct QDialog construction
  vpr/src/draw/manual_moves.cpp
  vpr/src/draw/save_graphics.cpp
  vpr/src/qt/vpr_qtcompat.cpp
  vpr/src/qt/vpr_qtcompat.h
Labels: VPR, lang-cpp

remove vtr_qtcompat h and cpp
  vpr/src/draw/buttons.h
  vpr/src/draw/draw.cpp
  vpr/src/draw/draw_debug.cpp
  vpr/src/draw/draw_debug.h
  vpr/src/draw/draw_floorplanning.h
  vpr/src/draw/draw_toggle_functions.cpp
  vpr/src/draw/manual_moves.cpp
  vpr/src/draw/manual_moves.h
  vpr/src/draw/save_graphics.cpp
  vpr/src/draw/save_graphics.h
  vpr/src/draw/search_bar.cpp
  vpr/src/draw/search_bar.h
  vpr/src/draw/ui_setup.cpp
  vpr/src/qt/vpr_qtcompat.cpp
  vpr/src/qt/vpr_qtcompat.h
  vpr/src/server/serverupdate.h
  vpr/src/server/taskresolver.cpp
Labels: VPR, lang-cpp

fix build issues
  vpr/src/draw/draw.cpp
  vpr/src/draw/draw_debug.cpp
Labels: VPR, lang-cpp

remove Q_BUTTON macro
  vpr/src/draw/draw_debug.cpp
  vpr/src/draw/manual_moves.cpp
Labels: VPR, lang-cpp

cleanup, remove macroses
  vpr/src/draw/draw_debug.cpp
  vpr/src/draw/manual_moves.cpp
  vpr/src/draw/save_graphics.cpp
  vpr/src/draw/save_graphics.h
Labels: VPR, lang-cpp

remove to_lineedit
  vpr/src/draw/draw_debug.cpp
  vpr/src/draw/manual_moves.cpp
  vpr/src/draw/save_graphics.cpp
Labels: VPR, lang-cpp

fix segfault on exit: move ezgl::application from file-scope global to heap-allocated pointer bounded by vpr_init/close_graphics
  vpr/src/draw/buttons.cpp
  vpr/src/draw/draw.cpp
  vpr/src/draw/draw.h
  vpr/src/draw/draw_basic.cpp
  vpr/src/draw/draw_floorplanning.cpp
  vpr/src/draw/draw_searchbar.cpp
  vpr/src/draw/draw_toggle_functions.cpp
  vpr/src/draw/manual_moves.cpp
  vpr/src/draw/save_graphics.cpp
  vpr/src/draw/search_bar.cpp
Labels: VPR, lang-cpp

hide_widget and show_widget are moved to ezgl
  vpr/src/draw/buttons.cpp
  vpr/src/draw/buttons.h
  vpr/src/draw/draw.cpp
  vpr/src/draw/ui_setup.cpp
  vpr/src/draw/ui_setup.h
Labels: VPR, lang-cpp

update build warning
  vpr/src/server/gateio.cpp
Labels: VPR, lang-cpp

Rename main.ui to main_glade.ui to match ezgl's renamed default UI resource
  vpr/main_glade.ui
  vpr/src/draw/draw.cpp
  vpr/test/gui/test_ezgl_app_fixture.cpp
  vpr/test/gui/test_gui_flow.cpp
  vpr/test/gui/test_gui_main.cpp
  vpr/test/gui/test_mouse_events.cpp
  vpr/test/gui/test_ui_contract.cpp
  vpr/test/gui/test_widget_hierarchy.cpp
  vpr/vpr.qrc
Labels: VPR, lang-cpp

Add the native Qt form generated from main_glade.ui
  vpr/main.ui
  vpr/vpr.qrc
Labels: VPR

Run the GUI test suite against the native Qt form as well as the Glade form
  vpr/test/gui/CMakeLists.txt
  vpr/test/gui/test_ezgl_app_fixture.cpp
  vpr/test/gui/test_gui_flow.cpp
  vpr/test/gui/test_gui_main.cpp
  vpr/test/gui/test_main_ui.hpp
  vpr/test/gui/test_mouse_events.cpp
  vpr/test/gui/test_ui_contract.cpp
  vpr/test/gui/test_widget_hierarchy.cpp
Labels: VPR, lang-cpp, lang-make

Assert the main UI form's layout geometry for both the Glade and Qt forms
  vpr/test/gui/CMakeLists.txt
  vpr/test/gui/test_layout_contract.cpp
Labels: VPR, lang-cpp, lang-make

Load VPR's GUI from the native Qt form by default
  vpr/src/draw/draw.cpp
  vpr/test/gui/CMakeLists.txt
  vpr/test/gui/test_main_ui.hpp
Labels: VPR, lang-cpp, lang-make

Drop the Glade UI form
  vpr/main_glade.ui
  vpr/src/draw/draw.cpp
  vpr/test/gui/CMakeLists.txt
  vpr/test/gui/test_gui_main.cpp
  vpr/test/gui/test_layout_contract.cpp
  vpr/test/gui/test_main_ui.hpp
  vpr/vpr.qrc
Labels: VPR, lang-cpp, lang-make

Add --skip_intermediate_show to show graphics only at the last requested stage
  doc/src/vpr/command_line_usage.rst
  vpr/src/analytical_place/ap_draw_manager.cpp
  vpr/src/base/read_options.cpp
  vpr/src/base/read_options.h
  vpr/src/base/setup_vpr.cpp
  vpr/src/base/setup_vpr.h
  vpr/src/base/vpr_api.cpp
  vpr/src/base/vpr_types.h
  vpr/src/draw/draw.cpp
  vpr/src/draw/draw.h
Labels: VPR, docs, lang-cpp

.github/labeler.yml:

# See https://github.com/actions/labeler#common-examples for defining patterns.
# The globs use "minimatch" syntax found at https://github.com/isaacs/minimatch
#
# WARNING: Due to this file being yaml, any string starting with `*` must be
# wrapped in quotes.

# Tools
ABC:
- changed-files:
  - any-glob-to-any-file: abc_with_bb_support/*
  - any-glob-to-any-file: abc_with_bb_support/**/*
  - any-glob-to-any-file: abc/*
  - any-glob-to-any-file: abc/**/*
ACE2:
- changed-files:
  - any-glob-to-any-file: ace2/*
  - any-glob-to-any-file: ace2/**/*
blifexplorer:
- changed-files:
  - any-glob-to-any-file: blifexplorer/*
  - any-glob-to-any-file: blifexplorer/**/*
Odin:
- changed-files:
  - any-glob-to-any-file: odin_ii/*
  - any-glob-to-any-file: odin_ii/**/*
  - any-glob-to-any-file: odin2_helper/*
  - any-glob-to-any-file: odin2_helper/**/*
Parmys:
- changed-files:
  - any-glob-to-any-file: parmys/*
  - any-glob-to-any-file: parmys/**/*
  - any-glob-to-any-file: yosys/*
  - any-glob-to-any-file: yosys/**/*
VPR:
- changed-files:
  - any-glob-to-any-file: vpr/*
  - any-glob-to-any-file: vpr/**/*

# Libraries
libarchfpga:
- changed-files:
  - any-glob-to-any-file: libs/libarchfpga/*
  - any-glob-to-any-file: libs/libarchfpga/**/*
libeasygl:
- changed-files:
  - any-glob-to-any-file: libs/libeasygl/*
  - any-glob-to-any-file: libs/libeasygl/**/*
liblog:
- changed-files:
  - any-glob-to-any-file: libs/liblog/*
  - any-glob-to-any-file: libs/liblog/**/*
libpugiutil:
- changed-files:
  - any-glob-to-any-file: libs/libpugiutil/*
  - any-glob-to-any-file: libs/libpugiutil/**/*
libvtrutil:
- changed-files:
  - any-glob-to-any-file: libs/libvtrutil/*
  - any-glob-to-any-file: libs/libvtrutil/**/*
external_libs:
- changed-files:
  - any-glob-to-any-file: libs/EXTERNAL/*
  - any-glob-to-any-file: libs/EXTERNAL/**/*

# General areas
docs:
- changed-files:
  - any-glob-to-any-file: doc/*
  - any-glob-to-any-file: doc/**/*
  - any-glob-to-any-file: "*README*"
  - any-glob-to-any-file: "*.md"
  - any-glob-to-any-file: "*.rst"
infra:
- changed-files:
  - any-glob-to-any-file: .github/*
  - any-glob-to-any-file: .github/**/*
  - any-glob-to-any-file: Dockerfile
  - any-glob-to-any-file: "*docker*"
build:
- changed-files:
  - any-glob-to-any-file: Makefile
  - any-glob-to-any-file: "*.make"
  - any-glob-to-any-file: CMakeLists.txt
  - any-glob-to-any-file: cmake/*
  - any-glob-to-any-file: cmake/**/*
tests:
- changed-files:
  - any-glob-to-any-file: "*_test.py"
  - any-glob-to-any-file: "*test*"
  - any-glob-to-any-file: "*TESTS*"
scripts:
- changed-files:
  - any-glob-to-any-file: scripts
  - any-glob-to-any-file: "*.pl"
  - any-glob-to-any-file: "*.py"
  - any-glob-to-any-file: "*.sh"
VTR Flow:
- changed-files:
  - any-glob-to-any-file: vtr_flow

# Tag pull requests with the languages used to make it easy to see what is
# being used.
lang-hdl:
- changed-files:
  - any-glob-to-any-file: "**/*.v"
  - any-glob-to-any-file: "**/*.sv"
lang-cpp:
- changed-files:
  - any-glob-to-any-file: "**/*.c*"
  - any-glob-to-any-file: "**/*.h"
lang-perl:
- changed-files:
  - any-glob-to-any-file: "**/*.pl"
  - any-glob-to-any-file: "**/*perl*"
lang-python:
- changed-files:
  - any-glob-to-any-file: "**/*.py"
lang-shell:
- changed-files:
  - any-glob-to-any-file: "**/*.sh"
lang-netlist:
- changed-files:
  - any-glob-to-any-file: "**/*.blif"
  - any-glob-to-any-file: "**/*.eblif"
  - any-glob-to-any-file: "**/*.edif"
  - any-glob-to-any-file: "**/*.vqm"
lang-make:
- changed-files:
  - any-glob-to-any-file: "**/*.make"
  - any-glob-to-any-file: "**/*Makefile"
  - any-glob-to-any-file: "**/CMakeLists.txt"
