Repository w0lek/vtr-verilog-to-routing, changes with the labels that .github/labeler.yml gives for each.
All labels: ABC, ACE2, blifexplorer, Odin, Parmys, VPR, libarchfpga, libeasygl, liblog, libpugiutil, libvtrutil, external_libs, docs, infra, build, tests, scripts, VTR Flow, lang-hdl, lang-cpp, lang-perl, lang-python, lang-shell, lang-netlist, lang-make

start migrating to Qt, ref to local ezgl fork which already uses Qt
  .gitmodules
  vpr/CMakeLists.txt
  vpr/src/base/vpr_api.cpp
  vpr/src/draw/draw_debug.h
  vpr/src/draw/manual_moves.h
  vpr/src/server/gateio.cpp
  vpr/src/server/gateio.h
  vpr/src/server/serverupdate.h
Labels: VPR, lang-cpp, lang-make

checkpoint
  vpr/src/draw/buttons.cpp
  vpr/src/draw/buttons.h
  vpr/src/draw/save_graphics.h
Labels: VPR, lang-cpp

fix macros helper name
  vpr/src/draw/buttons.cpp
Labels: VPR, lang-cpp

checkpoint
  vpr/src/draw/draw.cpp
  vpr/src/draw/draw_floorplanning.h
  vpr/src/draw/search_bar.cpp
  vpr/src/draw/search_bar.h
Labels: VPR, lang-cpp

checkpoint
  vpr/src/draw/draw.cpp
Labels: VPR, lang-cpp

checkpoint
  vpr/src/draw/draw.cpp
Labels: VPR, lang-cpp

checkpoint
  vpr/src/draw/draw.cpp
Labels: VPR, lang-cpp

checkpoint
  vpr/src/draw/draw.cpp
Labels: VPR, lang-cpp

tmp exclude draw_debug.cpp gtk functionality
  vpr/src/draw/draw_debug.cpp
Labels: VPR, lang-cpp

checkpoint
  vpr/src/draw/draw_floorplanning.cpp
Labels: VPR, lang-cpp

checkpoint
  vpr/src/draw/draw_toggle_functions.cpp
  vpr/src/draw/gtkcomboboxhelper.cpp
  vpr/src/draw/gtkcomboboxhelper.h
  vpr/src/draw/search_bar.cpp
Labels: VPR, lang-cpp

checkpoint
  vpr/src/draw/manual_moves.cpp
Labels: VPR, lang-cpp

checkpoint
  vpr/src/draw/manual_moves.cpp
  vpr/src/draw/save_graphics.cpp
  vpr/src/draw/ui_setup.cpp
Labels: VPR, lang-cpp

checkpoint
  vpr/src/draw/gtkcomboboxhelper.cpp
  vpr/src/draw/manual_moves.cpp
  vpr/src/draw/save_graphics.cpp
  vpr/src/draw/search_bar.cpp
  vpr/src/draw/ui_setup.cpp
  vpr/src/qt/_qtcompat2.cpp
  vpr/src/qt/_qtcompat2.h
Labels: VPR, lang-cpp

checkpoint
  vpr/src/draw/ui_setup.cpp
  vpr/src/qt/_qtcompat2.h
Labels: VPR, lang-cpp

checkpoint
  vpr/src/qt/_qtcompat2.h
  vpr/src/server/gateio.cpp
  vpr/src/server/taskresolver.cpp
Labels: VPR, lang-cpp

_qtcompat2.h and cpp separation
  vpr/src/qt/_qtcompat2.cpp
  vpr/src/qt/_qtcompat2.h
Labels: VPR, lang-cpp

put VPR specific qtcompat code into vpr compat2.h
  vpr/src/draw/buttons.h
  vpr/src/draw/draw.cpp
  vpr/src/draw/draw_debug.h
  vpr/src/draw/draw_floorplanning.h
  vpr/src/draw/draw_toggle_functions.cpp
  vpr/src/draw/gtkcomboboxhelper.cpp
  vpr/src/draw/gtkcomboboxhelper.h
  vpr/src/draw/manual_moves.cpp
  vpr/src/draw/manual_moves.h
  vpr/src/draw/save_graphics.h
  vpr/src/draw/search_bar.cpp
  vpr/src/draw/search_bar.h
  vpr/src/qt/_qtcompat2.cpp
  vpr/src/qt/_qtcompat2.h
  vpr/src/server/serverupdate.h
Labels: VPR, lang-cpp

refactor
  vpr/src/draw/buttons.h
  vpr/src/draw/draw.cpp
  vpr/src/draw/draw_debug.h
  vpr/src/draw/draw_floorplanning.h
  vpr/src/draw/draw_toggle_functions.cpp
  vpr/src/draw/gtkcomboboxhelper.cpp
  vpr/src/draw/gtkcomboboxhelper.h
  vpr/src/draw/manual_moves.cpp
  vpr/src/draw/manual_moves.h
  vpr/src/draw/save_graphics.h
  vpr/src/draw/search_bar.cpp
  vpr/src/draw/search_bar.h
  vpr/src/draw/ui_setup.cpp
  vpr/src/qt/_qtcompat2.cpp
  vpr/src/qt/vpr_qtcompat.h
  vpr/src/server/serverupdate.h
  vpr/src/server/taskresolver.cpp
Labels: VPR, lang-cpp

rename
  vpr/src/qt/vpr_qtcompat.cpp
Labels: VPR, lang-cpp

renames
  vpr/src/qt/vpr_qtcompat.h
Labels: VPR, lang-cpp

qtcompat move definitions to cpp
  vpr/src/qt/vpr_qtcompat.cpp
  vpr/src/qt/vpr_qtcompat.h
Labels: VPR, lang-cpp

use gtk resource only when VPR_QT is off
  vpr/CMakeLists.txt
Labels: VPR, lang-make

deactivate SLANG_SYSTEMVERILOG due to build problem on ubuntu 20.04
  CMakeLists.txt
Labels: build, lang-make

main.ui as qrc resource
  vpr/CMakeLists.txt
  vpr/src/draw/draw.cpp
  vpr/vpr.qrc
Labels: VPR, lang-cpp, lang-make

checkpoint
  CMakeLists.txt
  libs/libvtrutil/CMakeLists.txt
  vpr/CMakeLists.txt
Labels: VPR, libvtrutil, build, lang-make

checkpoint
  vpr/src/server/gateio.cpp
Labels: VPR, lang-cpp

GtkToggleButton is QCheckBox now, resolve macro ASSERT_QT_MIGRATION_TODO for setup_checkbox_button
  vpr/src/draw/ui_setup.cpp
  vpr/src/qt/vpr_qtcompat.h
Labels: VPR, lang-cpp

resolve ASSERT_QT_MIGRATION_TODO for void basic_button_setup
  vpr/src/draw/ui_setup.cpp
Labels: VPR, lang-cpp

resolve migration macro in basic_button_setup
  vpr/src/draw/ui_setup.cpp
Labels: VPR, lang-cpp

resolve ASSERT_QT_MIGRATION_TODO in buttons.cpp
  vpr/src/draw/buttons.cpp
Labels: VPR, lang-cpp

resolve qt migration macro in net_button_setup
  vpr/src/draw/ui_setup.cpp
Labels: VPR, lang-cpp

resolve qt migration macros in block_button_setup
  vpr/src/draw/ui_setup.cpp
Labels: VPR, lang-cpp

resolve macro in routing_button_setup
  vpr/src/draw/ui_setup.cpp
Labels: VPR, lang-cpp

resolve qt migration macro for view_button_setup
  vpr/src/draw/ui_setup.cpp
Labels: VPR, lang-cpp

resolve qt migration macro in load_net_names
  vpr/src/draw/ui_setup.cpp
Labels: VPR, lang-cpp

resolve qt migration macro in crit_path_button_setup
  vpr/src/draw/ui_setup.cpp
Labels: VPR, lang-cpp

resolve qt migration macro in load_block_names
  vpr/src/draw/ui_setup.cpp
Labels: VPR, lang-cpp

resolve ASSERT_QT_MIGRATION_TODO in search_setup
  vpr/CMakeLists.txt
  vpr/src/draw/ui_setup.cpp
Labels: VPR, lang-cpp, lang-make

fix compilation error
  vpr/src/draw/ui_setup.cpp
Labels: VPR, lang-cpp

.github/labeler.yml:

# See https://github.com/actions/labeler#common-examples for defining patterns.
# The globs use "minimatch" syntax found at https://github.com/isaacs/minimatch
#
# WARNING: Due to this file being yaml, any string starting with `*` must be
# wrapped in quotes.

# Tools
ABC:
- changed-files:
  - any-glob-to-any-file: abc_with_bb_support/*
  - any-glob-to-any-file: abc_with_bb_support/**/*
  - any-glob-to-any-file: abc/*
  - any-glob-to-any-file: abc/**/*
ACE2:
- changed-files:
  - any-glob-to-any-file: ace2/*
  - any-glob-to-any-file: ace2/**/*
blifexplorer:
- changed-files:
  - any-glob-to-any-file: blifexplorer/*
  - any-glob-to-any-file: blifexplorer/**/*
Odin:
- changed-files:
  - any-glob-to-any-file: odin_ii/*
  - any-glob-to-any-file: odin_ii/**/*
  - any-glob-to-any-file: odin2_helper/*
  - any-glob-to-any-file: odin2_helper/**/*
Parmys:
- changed-files:
  - any-glob-to-any-file: parmys/*
  - any-glob-to-any-file: parmys/**/*
  - any-glob-to-any-file: yosys/*
  - any-glob-to-any-file: yosys/**/*
VPR:
- changed-files:
  - any-glob-to-any-file: vpr/*
  - any-glob-to-any-file: vpr/**/*

# Libraries
libarchfpga:
- changed-files:
  - any-glob-to-any-file: libs/libarchfpga/*
  - any-glob-to-any-file: libs/libarchfpga/**/*
libeasygl:
- changed-files:
  - any-glob-to-any-file: libs/libeasygl/*
  - any-glob-to-any-file: libs/libeasygl/**/*
liblog:
- changed-files:
  - any-glob-to-any-file: libs/liblog/*
  - any-glob-to-any-file: libs/liblog/**/*
libpugiutil:
- changed-files:
  - any-glob-to-any-file: libs/libpugiutil/*
  - any-glob-to-any-file: libs/libpugiutil/**/*
libvtrutil:
- changed-files:
  - any-glob-to-any-file: libs/libvtrutil/*
  - any-glob-to-any-file: libs/libvtrutil/**/*
external_libs:
- changed-files:
  - any-glob-to-any-file: libs/EXTERNAL/*
  - any-glob-to-any-file: libs/EXTERNAL/**/*

# General areas
docs:
- changed-files:
  - any-glob-to-any-file: doc/*
  - any-glob-to-any-file: doc/**/*
  - any-glob-to-any-file: "*README*"
  - any-glob-to-any-file: "*.md"
  - any-glob-to-any-file: "*.rst"
infra:
- changed-files:
  - any-glob-to-any-file: .github/*
  - any-glob-to-any-file: .github/**/*
  - any-glob-to-any-file: Dockerfile
  - any-glob-to-any-file: "*docker*"
build:
- changed-files:
  - any-glob-to-any-file: Makefile
  - any-glob-to-any-file: "*.make"
  - any-glob-to-any-file: CMakeLists.txt
  - any-glob-to-any-file: cmake/*
  - any-glob-to-any-file: cmake/**/*
tests:
- changed-files:
  - any-glob-to-any-file: "*_test.py"
  - any-glob-to-any-file: "*test*"
  - any-glob-to-any-file: "*TESTS*"
scripts:
- changed-files:
  - any-glob-to-any-file: scripts
  - any-glob-to-any-file: "*.pl"
  - any-glob-to-any-file: "*.py"
  - any-glob-to-any-file: "*.sh"
VTR Flow:
- changed-files:
  - any-glob-to-any-file: vtr_flow

# Tag pull requests with the languages used to make it easy to see what is
# being used.
lang-hdl:
- changed-files:
  - any-glob-to-any-file: "**/*.v"
  - any-glob-to-any-file: "**/*.sv"
lang-cpp:
- changed-files:
  - any-glob-to-any-file: "**/*.c*"
  - any-glob-to-any-file: "**/*.h"
lang-perl:
- changed-files:
  - any-glob-to-any-file: "**/*.pl"
  - any-glob-to-any-file: "**/*perl*"
lang-python:
- changed-files:
  - any-glob-to-any-file: "**/*.py"
lang-shell:
- changed-files:
  - any-glob-to-any-file: "**/*.sh"
lang-netlist:
- changed-files:
  - any-glob-to-any-file: "**/*.blif"
  - any-glob-to-any-file: "**/*.eblif"
  - any-glob-to-any-file: "**/*.edif"
  - any-glob-to-any-file: "**/*.vqm"
lang-make:
- changed-files:
  - any-glob-to-any-file: "**/*.make"
  - any-glob-to-any-file: "**/*Makefile"
  - any-glob-to-any-file: "**/CMakeLists.txt"
